<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coup by @kiorq</title>
    </head>
    <body>
        <div class="w-[700px] mx-auto p-4 m-4 bg-slate-300 rounded-2xl flex flex-col gap-5">
            <!-- other players -->
            <div class="w-full flex flex-row gap-7">
                {% for i in range(1, 4) %}
                    <div class="w-full flex flex-col gap-3">
                        <p class="text-xl font-bold text-center">🤖 Player {{ i + 1 }}</p>
                        <p class="text-center">🪙 {{ game_state.players[i].coins }} coins</p>
                        <div class="flex flex-row gap-3">
                            <div class="w-full bg-slate-500 aspect-[9/10] rounded-lg"></div>
                            <div class="w-full bg-slate-500 aspect-[9/10] rounded-lg"></div>
                        </div>
                        {% if i == game_state.current_players_index %}
                            <p class="font-semibold text-center bg-slate-500 rounded-lg p-1">🤖 PLAYING</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- player 1 -->
            <div class="w-full flex flex-col gap-3">
                <p class="text-3xl font-bold text-center">Player 1 (You)</p>
                <p class="text-center text-lg">🪙 {{ game_state.players[0].coins }} coins</p>
                <div class="flex flex-row gap-3">
                    {% for card in game_state.players[0].cards %}
                        <div class="w-full bg-slate-500 aspect-[9/10] rounded-2xl">
                            <p>{{ card }}</p>
                        </div>
                    {% endfor %}
                    {% for card in game_state.players[0].revealed_cards %}
                        <div class="w-full bg-slate-500 aspect-[9/10] rounded-2xl opacity-70"></div>
                    {% endfor %}
                </div>
            </div>
            <!-- status -->
            <div class="w-full">
                <p class="text-center text-3xl font-bold">{{ game_state.ui.status_text }}</p>
            </div>
            <!-- actions -->
            <form method="POST" class="w-full flex flex-row gap-3">
                {% for action in game_state.ui.available_actions %}
                    <button type="submit"
                            name="action"
                            value="{{ action.action }}"
                            class="w-full bg-slate-500 rounded-lg p-3">
                        <p>{{ action.action }}</p>
                        <p>
                            {% if action.will_be_bluffing %}
                                ⚠️
                            {% else %}
                                ✔️
                            {% endif %}
                        </p>
                    </button>
                {% endfor %}
            </form>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>
